{% for link in site.data.social.links %}
<a href="{{ link.url }}" target="_blank" rel="noopener">
  {% if link.title == "Strava" %}
    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" style="vertical-align: middle;">
      <path d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169"/>
    </svg>
  {% else %}
    <span class="fab {{ link.icon }}" aria-hidden="true"></span>
  {% endif %}
  <span class="screen-reader-text">{{ link.title }}</span>
</a>
{% endfor %}